.parent1{
    background:  #4285F4;
   min-height: 100px;
    min-width: 530px;
  margin-left  : 533px;
  margin-top: 133px;
  border-radius: 10px;
  margin-right: 100px;
 
}
.child1{
  display: flex;
  align-items: baseline;
  justify-content: center;

}
.parent2{
  border: 1px solid red;
  background:  #e4e6e8;
  min-height: 100px;
   min-width: 530px;
 margin-left  : 533px;
 border-radius: 10px;
 margin-right: 100px;
}
.calc{
  background: rgb(239, 80, 80);
  margin-left: 20px;
  margin-bottom: 10px;
}
.output{
  display: inline;

}
